!!!
%html{:lang => "en", class: "container"}
  %head
    %title Reset password - VGDatabase
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css", :rel => "stylesheet"}/
  %body.visible
    .form
      %br/
      =image_tag ('logo-normal.png')
      .tab-content
        %i.mdi.mdi-arrow-left-bold
        %a{:href => login_path, "data-method" => "get"} Return to login
        %br/
        %br/
        %h5 Enter your old email and username
        = form_tag :method => :get do
          .field-wrap
            %input{:name => 'user[name]', :placeholder => 'Email address' ,:autocomplete => "off", :required => "", :type => "email"}/
          .field-wrap
            %input{:name => 'user[name1]' , :placeholder => 'Username' ,:autocomplete => "off", :required => "", :type => "text", :pattern => "^[a-zA-Z0-9._-]+"}/
          %h5 Enter a new password
          .field-wrap
            %input{:name => 'user[password]' , :placeholder => 'Password' ,:autocomplete => "off", :required => "", :type => "password"}/
          .field-wrap
            %input{:name => 'user[password1]', :placeholder => 'Repeat password' ,:autocomplete => "off", :required => "", :type => "password"}/
          %button.button.button-block{:type => "submit"} Reset password
