!!!
%html{:lang => "en", class: "container"}
  %head
    %title Error - VGDatabase
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css", :rel => "stylesheet"}/
  %body.visible
    .form
      %br/
      =image_tag ('logo-normal.png')
      %ul.tab-group
        %li.tab
          #{link_to 'Log In', login_path}
        %li.tab.active
          #{link_to 'Sign Up', signup_path}
      .tab-content
        %br/
        %br/
        %br/
        %br/
        = form_tag :method => :get do
          .field-wrap
            %input{:name => 'user[name]', :placeholder => 'Email address' ,:autocomplete => "email", :required => "", :type => "email"}/
          .field-wrap
            %input{:name => 'user[name1]' , :placeholder => 'Username' ,:autocomplete => "username", :required => "", :type => "text"}/
          .field-wrap
            %input{:name => 'user[password]' , :placeholder => 'Password' ,:autocomplete => "new-password", :required => "", :type => "password"}/
          .field-wrap
            %input{:name => 'user[password1]', :placeholder => 'Repeat password' ,:autocomplete => "new-password", :required => "", :type => "password"}/
          %button.button.button-block{:type => "submit"} Sign up
          .overlay
            .popup
              %h2 Error
              %a.close{:href => signup_path} ×
              .content
                This username is already in use, try again
