!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Homepage - VGDatabase
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css", :rel => "stylesheet"}/
  %body
    %aside.sidebar
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li.active
            %a.sidebar__nav__link_plain{}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => myLibrary_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text My library
          %li
            %a.sidebar__nav__link{:href => myLibraryFavorites_path, "data-method" => "get"}
              %i.mdi.mdi-star
              %span.sidebar__nav__text  Favorites
          %li
            %a.sidebar__nav__link{:href => search_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li
            %a.sidebar__nav__link{:href => friends_path, "data-method" => "get"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => myProfile_path, "data-method" => "get"}
              %i.mdi.mdi-account-circle
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => contactUs_path, "data-method" => "get"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    / partial:index.partial.html
    %br/
    %h1 Welcome back, #{@user.username}!
    %div.page-content
        .wrapper
            .product-single
                .product-gallery
                .slider-arrows
                    %i#prev-slide.fa.fa-fw.fa-arrow-circle-o-left
                    %i#next-slide.fa.fa-fw.fa-arrow-circle-o-right
                #slider-wrap
                    %ul.slides
                    %li
                        %img{:alt => "", :src => "https://storage.googleapis.com/chydlx/codepen/simple-product-card/yoshi-yarn-1.jpg"}/
                    %li
                        %img{:alt => "", :src => "https://storage.googleapis.com/chydlx/codepen/simple-product-card/yoshi-yarn-2.jpg"}/
                    %ul.nav-dots
                    %li.active
                    %li
                .product-details
                %h1.product-title Green Mega Yarn Yoshi
                %h3.product-cost $39.99
                .product-rating
                    %ul
                    %li.fa.fa-fw.fa-lg.fa-star
                    %li.fa.fa-fw.fa-lg.fa-star
                    %li.fa.fa-fw.fa-lg.fa-star
                    %li.fa.fa-fw.fa-lg.fa-star
                    %li.fa.fa-fw.fa-lg.fa-star-half
                    %span.product-reviews
                    %a{:href => "#"} 10 Reviews
                .product-description
                    %p Made from actual yarn, Yoshi™ has never been more adorable! Kind-hearted, naturally protective of others, and perpetually hungry, Yoshi™ is always up for adventure...there are so many mysteries to explore and new things to find!
                .product-cta
                    %button.product-atc Add to Cart
                    %button.product-atw Add to Wishlist
                .product-info
                    %span.product-sku SKU #12345678
