!!!
%html{:lang => "en", class: "container"}
  %head
    %title New review - VGDatabase
  %body.visible
    %aside.sidebar.normal
      %a.sidebarOverlay
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li
            %a.sidebar__nav__link{:href => homepage_path, "data-method" => "get"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => myLibrary_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text My library
          %li
            %a.sidebar__nav__link{:href => myLibraryFavorites_path, "data-method" => "get"}
              %i.mdi.mdi-star
              %span.sidebar__nav__text  Favorites
          %li
            %a.sidebar__nav__link{:href => searchGame_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li
            %a.sidebar__nav__link{:href => friends_path, "data-method" => "get"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => myProfile_path, "data-method" => "get"}
              =image_tag (@user.avatar), class: "img3"
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => contactUs_path, "data-method" => "get"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    %br/
    %h1 Adding new review
    .form
      .tab-content
        = form_tag game_reviews_path :method => :post do
          .field-wrapAlt
            %input{:name => 'review[comment]', :placeholder => "Write review", :autocomplete => "off", :type => "text", :maxlength => '250'}/
          = select :review, :score, raw("<option>1 ★</option><option>2 ★★</option><option>3 ★★★</option><option>4 ★★★★</option><option>5 ★★★★★</option>"), {:class => ""}
          %br/
          %br/
          %br/
          %button.button{:type => "submit"} Save changes
          %br/
          %br/
          %a.button{:href => game_path(@games), "data-method" => "get"} Discard changes
    .backgroundImg2
      - background = "backgroundSimple.png"
      =image_tag (background), class: "background2"
      .overlay
