!!!
%html{:lang => "en", class: "container"}
  %head
    %title Error - VGDatabase
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css", :rel => "stylesheet"}/
  %body.visible
    .form
      %br/
      =image_tag ('logo-normal.png')
      .tab-content
        %h5 Enter your old email and username
        = form_tag :method => :get do
          .field-wrap
            %input{:name => 'user[name]', :placeholder => 'Email address' ,:autocomplete => "off", :required => "", :type => "email"}/
          .field-wrap
            %input{:name => 'user[name1]' , :placeholder => 'Username' ,:autocomplete => "off", :required => "", :type => "text"}/
          %h5 Enter a new password
          .field-wrap
            %input{:name => 'user[password]' , :placeholder => 'Password' ,:autocomplete => "off", :required => "", :type => "password"}/
          .field-wrap
            %input{:name => 'user[password1]', :placeholder => 'Repeat password' ,:autocomplete => "off", :required => "", :type => "password"}/
          %button.button.button-block{:type => "submit"} Reset password
          .overlay
            .popup
              %h2 Error
              %a.close{:href => forgot_password_path, "data-method" => "get"} ×
              .content
                Passwords doesen't match, try again
