!!!
%html{:lang => "en", class: "container"}
  %head
    %title Contact us - VGDatabase
  %body.visible
    %aside.sidebar.normal
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li
            %a.sidebar__nav__link{:href => homepage_path, "data-method" => "get"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => myLibrary_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text My library
          %li
            %a.sidebar__nav__link{:href => myLibraryFavorites_path, "data-method" => "get"}
              %i.mdi.mdi-star
              %span.sidebar__nav__text  Favorites
          %li
            %a.sidebar__nav__link{:href => searchGame_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li
            %a.sidebar__nav__link{:href => friends_path, "data-method" => "get"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => myProfile_path, "data-method" => "get"}
              =image_tag (@user.avatar), class: "img3"
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li.active
            %a.sidebar__nav__link_plain{}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    / partial:index.partial.html
    %br
    %h1 Contact us
    =image_tag ('logo-normal.png'), class:'imgCentered'
    %div.page-content.rightMargin
      %div
        %h3 VGDatabase (VGDB) is a platform designed and built for gamers by gamers.
        %h3 The site is based on a videogames database, where you can view many information about any games such as genre, developer, date of release, score and the reviews written by other players, with an additional external link for the purchase. The platform also provides a search functions by title or by filters, such as genre or platform, and a search function for registered users. In addition, the site is updated periodically, always showing in the homepage the most popular games at the moment. Each user has his own library of games, a friends list and the possibility to group games and friends in Favorites lists. Enjoy!
        %h2 If you want to contact us:
        %h3 Giovanni Roma: roma.1808340@studenti.uniroma1.it
        %h3 Marco Musciaglia: musciaglia.1816864@studenti.uniroma1.it
        %h3 Matteo Sabatini: sabatini.1794627@studenti.uniroma1.it
    .backgroundImg2
      - background = "backgroundSimple.png"
      =image_tag (background), class: "background2"
      .overlay
