!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Admin - VGDatabase
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css", :rel => "stylesheet"}/
  %body
    %aside.sidebar
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain
              =image_tag ('logo-normal.png')
          %li.active
            %a.sidebar__nav__link_plain{:href => settings_path}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Control panel
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link_plain
              %span.sidebar__nav__text
    %br/
    %h1 Admin control panel
    %div.page-content
    .form
      .tab-content
        %br/
        %h1 Delete user
        = form_tag :method => :get do
          .field-wrap
            %input{:name => 'user[name]' , :placeholder => 'Username' , :autocomplete => "off", :required => "", :type => "text"}/
          %button.button delete