!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Avatar - VGDatabase
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css", :rel => "stylesheet"}/
    %link{:href => "./style.css", :rel => "stylesheet"}/
  %body
    %div.wrapper
      %ul
        - @avatar.each do |avatar|
          %li
            = form_tag :method => :post do
              %input.hidden2{:name => 'avatar' , :value => avatar.avatar}
              %a.overlay-container{"data-overlay-text" => "select"}
                =image_tag (avatar.avatar)
                %button.btn2{:type => "submit"}
