!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title CodePen - CSS3 - Responsive Image Grids with Transitional Effects when Hovered
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css", :rel => "stylesheet"}/
    %link{:href => "./style.css", :rel => "stylesheet"}/
  %body
    / partial:index.partial.html
    .wrapper
      %ul
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_1')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_2')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_3')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_4')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_5')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_6')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_7')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_8')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_9')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_10')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_11')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_12')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_13')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_14')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_15')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_16')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_17')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_18')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_19')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_20')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_21')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_22')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_23')
        %li
          %a.overlay-container{"data-overlay-text" => "select", :href => "#"}
            =image_tag ('Avatars/avatar_24')
