!!!
%html{:lang => "en", class: "container"}
  %head
    %title Friends - VGDatabase
  %body.visible
    %aside.sidebar.normal
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li
            %a.sidebar__nav__link{:href => homepage_path, "data-method" => "get"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => myLibrary_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text My library
          %li
            %a.sidebar__nav__link{:href => myLibraryFavorites_path, "data-method" => "get"}
              %i.mdi.mdi-star
              %span.sidebar__nav__text  Favorites
          %li
            %a.sidebar__nav__link{:href => searchGame_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li.active
            %a.sidebar__nav__link_plain{}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => myProfile_path, "data-method" => "get"}
              =image_tag (@user.avatar), class: "img3"
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => contactUs_path, "data-method" => "get"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    %br/
    - @lunghezza = @friends.where(:user_id => @user.id).length
    - if @lunghezza==0
      %h1 You don't have any friend
    - elsif @lunghezza==1
      %h1 You have 1 friend
    -else
      %h1 You have #{@lunghezza} friends
    %div.page-content
      %br/
      - @friends.each do |friend|
        .friendsCards
          .my-account-wrapper
            .friendGrid
              .profile-pic-details
                %a.overlayImgFriend{:href => visit_profile_path(friend.friend_id), "data-method" => "get"}
                  %i.mdi.mdi-pencil
                  %span.hidden _
                  %span View profile
                =image_tag (User.find(friend.friend_id).avatar) ,class: "reviewImg"
              .grid-item-detailsProfile
                - if (friend.favorite == "true")
                  %a.mdi.mdi-star.iconBig2.right{:href => friend_path(friend.friend_id) , "data-method" => "get"}
                - else             
                  %a.mdi.mdi-star-outline.iconBig2.right{:href => friend_path(friend.friend_id) , "data-method" => "get"}
              .grid-item-details
                %p.profile-hyper-links
                  %a2.sub-header-details Username:
                  %span #{User.find(friend.friend_id).username}
              .grid-item-details
                %p.profile-hyper-links
                  %a2.sub-header-details Games in the collection:
                  %span #{Mylibrary.where(:user_id => friend.friend_id).length}
