!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Homepage - VGDatabase
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css", :rel => "stylesheet"}/
  %body
    %aside.sidebar
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link
              =image_tag ('logo-normal.png')
          %li.active
            %a.sidebar__nav__link{:href => "#"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => "#"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text My library
          %ul.subtab-group
            %li.subtab-text
              %a.sidebar__nav__link{:href => "#"}
                %span.sidebar__nav__text Favorites
          %li
            %a.sidebar__nav__link{:href => "#"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %ul.subtab-group
            %li.subtab-text
              %a.sidebar__nav__link{:href => "#"}
                %span.sidebar__nav__text Search users
          %li
            %a.sidebar__nav__link{:href => "#"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => "#"}
              %i.mdi.mdi-account-circle
              %span.sidebar__nav__text My account
          %ul.subtab-group
            %li.subtab-text
              %a.sidebar__nav__link{}
                %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => "#"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    / partial:index.partial.html
    %br/
    %h1 Welcome back, #{@user.username}!
    %main.page-content
    .card
      .content
        %h2.title Mountain View
        %p.copy
          Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains
        %button.btn View info
    .card
      .content
        %h2.title To The Beach
        %p.copy
          Plan your next beach trip with these fabulous destinations
        %button.btn View info
    .card
      .content
        %h2.title Desert Destinations
        %p.copy 
          It's the desert you've always dreamed of
        %button.btn View info
    .card
      .content
        %h2.title Explore The Galaxy
        %p.copy
          Seriously, straight up, just blast off into outer space today
        %button.btn View info
    .card
      .content
        %h2.title Mountain View
        %p.copy
          Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains
        %button.btn View info
    .card
      .content
        %h2.title To The Beach
        %p.copy
          Plan your next beach trip with these fabulous destinations
        %button.btn View info
    .card
      .content
        %h2.title Desert Destinations
        %p.copy 
          It's the desert you've always dreamed of
        %button.btn View info
    .card
      .content
        %h2.title Explore The Galaxy
        %p.copy
          Seriously, straight up, just blast off into outer space today
        %button.btn View info
    .card
      .content
        %h2.title Mountain View
        %p.copy
          Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains
        %button.btn View info
    .card
      .content
        %h2.title To The Beach
        %p.copy
          Plan your next beach trip with these fabulous destinations
        %button.btn View info
    .card
      .content
        %h2.title Desert Destinations
        %p.copy 
          It's the desert you've always dreamed of
        %button.btn View info
    .card
      .content
        %h2.title Explore The Galaxy
        %p.copy
          Seriously, straight up, just blast off into outer space today
        %button.btn View info
    .card
      .content
        %h2.title Mountain View
        %p.copy
          Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains
        %button.btn View info
    .card
      .content
        %h2.title To The Beach
        %p.copy
          Plan your next beach trip with these fabulous destinations
        %button.btn View info
    .card
      .content
        %h2.title Desert Destinations
        %p.copy 
          It's the desert you've always dreamed of
        %button.btn View info
    .card
      .content
        %h2.title Explore The Galaxy
        %p.copy
          Seriously, straight up, just blast off into outer space today
        %button.btn View info
        