{%extends 'site.html.twig' %}
{%block nav %}
<ul role="navigation">
<li><a href="{{path('app_home',{},true)}}">Home</a></li>
<li><a href="{{path('app_info',{},true)}}">Information</a></li>
</ul>
{%endblock%}
