*,
:before,
:after {
  box-sizing: border-box;
}
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --starvisible: hidden;
}
html,
body {
  height: 100%;
  background: #14111f;
  font-family: "Roboto";
  overflow-x: hidden;
  margin: 0;
}
.container {
  overflow-y: hidden;
}
.visible {
  overflow-y: visible;
}
.hidden {
  opacity: 0;
}
.hidden2 {
  display: none;
}
.iconBig {
  font-size: x-large;
  color: #fff;
}
.iconBig2 {
  font-size: xx-large;
  color: #d9e62b;
  cursor: pointer;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.friendStar {
  font-size: large;
  float: left;
  margin-left: 0.6rem;
  padding-top: 1.2rem;
  color: #d9e62b;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.reviewStar {
  font-size: large;
  float: left;
  margin-left: 0.6rem;
  padding-top: 1.5rem;
  color: #d9e62b;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.iconBig2:hover {
  text-shadow: 0 0 0 #d9e62b;
  color: #fff;
}
nav .container {
  overflow-y: visible;
}
footer {
  text-align: center;
  bottom: 0;
}
a {
  text-decoration: none;
  color: #f26657;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover {
  color: #f26657;
}
a button {
  text-decoration: none;
  color: #f26657;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.buttonSmall:hover {
  color: #fff;
  box-shadow: 0 0 6px #fff;
}
img {
  max-width: 100%;
  max-height: 100%;
}
form_tag {
  visibility: hidden;
}
.imgCentered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.right {
  float: right;
  margin-top: -5px;
  padding-top: 11.5rem;
}
.right2 {
  float: right;
  margin-top: -5px;
  list-style-type: none;
}
.right3 {
  float: right;
  margin-top: -550px;
  margin-bottom: 20px;
  list-style-type: none;
  padding-right: 60px;
  width: 50%;
}
.right4 {
  float: right;
  padding-right: 10px;
}
.right5 {
  float: right;
  padding-right: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff
}
.right6 {
  float: right;
  padding-top: 11.5rem;
}
.right7 {
  float: right;
  margin-top: -5px;
}
.right8 {
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -25rem;
  width: 840px;
  list-style-type: none; 
}
.gameStar {
  float: left;
  margin-left: 4.5rem;
  margin-top: -5.5rem;
}
.gameReview {
  float: left;
  margin-left: 4.5rem;
  margin-top: -4.2rem;
}
.left {
  float: left;
  margin-top: -5px;
  list-style-type: none;
}
.left2 {
  float: left;
}
.opacity0 {
  opacity: 0;
}
.removed {
  display: none;
}
.editText {
  float: right;
  margin-right: 5rem;
  margin-top: -2.6rem;
}
.sort {
  float: right;
  margin-right: 15rem;
  margin-top: -2.6rem;
}
.sortOnly {
  float: right;
  margin-right: 5rem;
  margin-top: -2.6rem;
}
.editText .sort .sortOnly span {
  color: #f26657;
  font-size: 15px;
}
.editText .sort .sortOnly i {
  color: #f26657;
  font-size: 15px;
}
.demo-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #03a9f4;
}
.demo-card-square > .mdl-card__accent {
  background: #ff9800;
}
.form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30, 27, 44, 1);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(30, 27, 44, 0.3);
}
.tab-group {
  list-style: none;
  padding: 0;
}
.subtab-group {
  list-style: none;
  padding: 0;
}
.subtab-text {
  font-size: 14px;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  background: #f26657;
  color: #fff;
}
.tab-group .active a {
  background: #f26657;
  color: #fff;
}
.tab-group .active a:hover {
  background: #f26657;
  color: #fff;
}
.active a {
  background: #f26657;
  color: #fff;
}
.tab-content > div:last-child {
  display: none;
}
.tab-content i {
  margin-top: -5px;
  color: #f26657;
}
h1 {
  cursor: default;
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 20px;
  font-weight: bold;
}
h2 {
  cursor: default;
  font-size: 40px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}
h3 {
  cursor: default;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
  text-align: justify;
  text-justify: inter-word;
}
h4 {
  cursor: default;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}
h5 {
  cursor: default;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 10px;
  text-justify: inter-word;
}
h6 {
  cursor: default;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 10px;
}
h7 {
  cursor: default;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 10px;
  text-justify: inter-word;
}
label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #f26657;
}
label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}
label.highlight {
  color: #fff;
}
input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #fff;
  border-radius: 0;
  -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus,
textarea:focus {
  outline: 0;
  border-color: #f26657;
}
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position: relative;
  margin-bottom: 25px;
}
.field-wrapAlt {
  position: relative;
  margin-bottom: 25px;
}
.field-wrapAlt input {
  font-size: 24px !important;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #fff;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000;
  border-radius: 0;
  -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
a:hover {
  color: #fff;
}
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  display: block;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #f26657;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  transition: all 0.3s ease-out;
  text-align: center;
}
.button:active {
  cursor: progress;
  border: 2px solid #fff;
}
.button:hover {
  box-shadow: 0 0 6px #fff;
}
.default {
  cursor: default;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.buttonSmall {
  cursor: pointer;
  margin-top: 4.6rem;
  margin-right: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #f26657;
  border: none;
}
.buttonSmall_alt {
  cursor: default;
  margin-top: 4.6rem;
  margin-right: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #f26657;
  border: none;
}
.buttonSmall-null {
  cursor: default;
  margin-top: 4.6rem;
  margin-right: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #f26657;
  border: none;
}
.button:hover,
.button:focus {
  cursor: pointer;
}
.buttonSmall:active {
  cursor: progress;
}
.gameInfo {
  margin-left: 27em;
  list-style-type: none;
  min-width: 455px;
  width: 25%;
  height: 550px;
}
.forgot {
  margin-top: -10px;
  display: inline-block;
}
.page-content {
  margin-left: 12.5em;
}
.rightMargin {
  padding-right: 1em;
}
.overflow {
  overflow-y: scroll;
}
.clear {
  clear: both;
}
.card {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 1rem;
  width: 252px;
  height: 350px;
  float: left;
  text-align: center;
  color: #f5f5f5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}
.cardPadding {
  padding: 1rem;
}
.dot {
  position: absolute;
  right: 3%;
  top: 2%;
  color: #d9e62b;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.dotCard {
  position: absolute;
  right: 3%;
  top: 2%;
  color: #d9e62b;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  visibility: hidden;
}
.dot:hover {
  text-shadow: 0 0 0 #d9e62b;
  color: #d9e62b;
}
.dotCard:hover {
  text-shadow: 0 0 0 #d9e62b;
  color: #d9e62b;
}
.blinking {
  animation: blinkingText 1s 2 forwards;
}
@keyframes blinkingText {
  50% {
    opacity: 0;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.6) 74.1%,
    rgba(0, 0, 0, 0.65) 78.8%,
    rgba(0, 0, 0, 0.7) 83.6%,
    rgba(0, 0, 0, 0.75) 88.7%,
    rgba(0, 0, 0, 0.8) 94.1%,
    rgba(0, 0, 0, 0.8) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}
.cover {
  width: 100%;
  height: 100%;
  margin-left: -250px;
}
.extraPadding {
  padding-top: 5rem;
}
.extraMarginLeft {
  padding-left: 1rem;
}
.coverImg {
  width: 250px;
  height: 350px;
}
.fullSize {
  width: 400px;
  height: 550px;
  border: 2px solid #fff;
}
.content {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
}
.content > * + * {
  margin-top: 1rem;
}
.content a:hover {
  color: #f26657;
}
.description {
  font-family: var(--font-serif);
  font-size: 1.15rem;
  font-style: italic;
  line-height: 1.25;
  /*overflow: auto;*/
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  border: 1px solid rgba(0, 0, 0, 0);
}
.btn:hover {
  background-color: #222;
  border: 1px solid #fff;
}
.btn2 {
  cursor: pointer;
  margin-left: -180px;
  height: 180px;
  width: 180px;
  background-color: rgba(51, 51, 51, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}
@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > :not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .card:hover .dotCard {
    visibility: visible;
  }
  .card:hover .content > :not(.title),
  .card:focus-within .content > :not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > :not(.title) {
    -webkit-transition-duration: 0;
    transition-duration: 0;
  }
}
* {
  outline: none;
  box-sizing: border-box;
}
.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 992px;
  padding: 2em 1.5em;
}
.main h2 {
  font-size: 2em;
  margin-top: 0;
}
.main p {
  color: #444;
  font-size: 1.25em;
  line-height: 2;
  text-align: justify;
}
.sidebar {
  background-color: #333;
  position: fixed;
  height: 100vh;
  left: 0;
}
.sidebarOverlay {
  position: fixed;
  width: 12em;
  height: 100vh;
  left: 0;
  background: rgba(0, 0, 0, 0.774);
  transition: opacity 500ms;
  visibility: visible;
}
.sidebarOverlay:hover {
  cursor: no-drop;
}
.normal {
  width: 12em;
}
.bigger {
  width: 17em;
}
.sidebar nav {
  height: 100%;
}
.sidebar .sidebar__nav {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar__nav .sidebar__nav__link {
  align-items: center;
  color: #fff;
  display: flex;
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.sidebar .sidebar__nav .sidebar__nav__link:hover {
  color: #f26657;
  padding-left: 18px;
  transition: 0.2s;
  background-color: #222;
  transition: 0.2s;
}
.sidebar__nav__link_plain {
  background-color: #333;
  align-items: center;
  display: flex;
  padding: 1em;
  cursor: pointer;
}
.sidebar__nav__link_plain_img {
  background-color: #333;
  align-items: center;
  display: flex;
  padding: 1em;
}
.sidebar .sidebar__nav .sidebar__nav__text {
  margin-left: 10px;
  white-space: nowrap;
}
.sidebar .sidebar__nav i {
  align-items: center;
  display: flex;
  justify-content: center;
}
.sidebar .sidebar__nav {
  flex-direction: column;
}
.sidebar .sidebar__nav li:last-child {
  margin-top: auto;
}
.sidebar .sidebar__nav .sidebar__nav__link {
  padding: 1em;
}
.sidebar:hover .sidebar__nav .sidebar__nav__text {
  display: inline;
}
.sidebar .sidebar__nav i {
  font-size: 2rem;
}
.img3 {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 1px solid #fff;
}
.left-4 {
  margin-left: -4px;
}
.btn-group a {
  background-color: #444;
  color: #fff;
  padding: 1.25rem;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.btn-group buttonActive {
  background-color: #f26657;
  color: #fff;
  padding: 1.25rem;
  cursor: pointer;
  display: inline-block;
}
.btn-group a:hover {
  background: #f26657;
  color: #fff;
}
.vl {
  border-left: 2px solid #333;
  padding: 1.85rem;
  display: inline-block;
  margin-left: -9px;
}
.borderLeft {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.s003 form {
  width: 100%;
  height: 1.2rem;
  max-width: 700px;
  padding-top: 15px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
.s003 form .inner-form {
  background: #444;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3.7rem;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}
.s003 form .inner-form .input-field {
  height: 60px;
}
.s003 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
}
.s003 form .inner-form .input-field.first-wrap {
  width: 180px;
}
.s003 form .inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: -65px;
}
.s003 form .inner-form .input-field.third-wrap {
  width: 74px;
}
.s003 form .inner-form .input-field.third-wrap .btn-search svg {
  width: 20px;
  color: #fff;
}
.s003 form .inner-form .input-field.third-wrap .btn-search:hover svg {
  width: 20px;
  color: #555;
}
.s003 form .inner-form .input-field.third-wrap .btn-search {
  padding: 1.15rem;
  width: 100%;
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  background: #f26657;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.s003 form .inner-form .input-field.third-wrap .btn-search svg:hover {
  color: #555;
}
.imgSize {
  font-size: 35px;
  color: #f26657;
  text-align: center;
  padding-right: 15px;
  cursor: pointer;
}
.searchBar {
  font-size: 35px;
  color: #f26657;
  text-align: center;
  padding-right: 15px;
  cursor: pointer;
}
.searchBar:hover {
  color: #fff;
}
.imgSmall {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid #f26657;
  float: left;
}
.my-account-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 5000px;
  margin: auto;
  padding: 15px;
  color: #3c414f;
}
.account-header {
  font-size: 26px;
  margin: 15px 0;
}
.account-grid-system {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.account-grid-item-1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  border-radius: 2px;
  position: relative;
  width: 30%;
  max-width: 300px;
  min-width: 300px;
  height: 280px;
  text-align: center;
  margin-right: 12px;
}
.account-grid-item-1-alt {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  border-radius: 2px;
  position: relative;
  width: 30%;
  max-width: 300px;
  min-width: 300px;
  height: 287px;
  text-align: center;
  margin-right: 12px;
}
.account-grid-item-1-alt2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  border-radius: 2px;
  position: relative;
  width: 30%;
  max-width: 300px;
  min-width: 300px;
  height: 323px;
  text-align: center;
  margin-right: 12px;
}
.account-grid-item-2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  border-radius: 2px;
  width: 45%;
  margin-right: 12px;
}
.account-grid-item-3 {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  border-bottom: 0;
  border-radius: 2px;
  width: 25%;
  max-width: 500px;
}
.grid-item-details {
  cursor: default;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #444;
  background-color: #333;
  color: #f26657;
}
.grid-item-details a i {
  color: #f26657;
}
.white:hover {
  color: #fff;
}
.grid-item-details a:hover {
  color: #f26657;
}
.grid-item-details_alt {
  cursor: default;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #444;
  background-color: #333;
  color: #f26657;
}
.grid-item-details_alt a:hover {
  color: #fff;
}
.grid-item-details a:hover {
  color: #fff;
}
.grid-item-details input,
textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #fff;
  border-radius: 0;
  -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.grid-item-details-button {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #f26657;
}
.grid-item-details-button-2 {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #f26657;
  border-bottom: 1px solid #444;
}
.grid-item-details-button:hover,
.grid-item-details-button-2:hover {
  cursor: pointer;
  background-color: #222;
  color: #fff;
}
.grid-item-details-button:hover a {
  color: #fff;
  transition: 0.1s;
}
.grid-item-details-button-2:hover a {
  color: #fff;
  transition: 0.1s;
}
.grid-item-detailsProfile {
  padding: 10px;
  padding-bottom: 14rem;
  border-bottom: 1px solid #444;
  background-color: #333;
  color: #f26657;
}
.grid-item-detailsImg {
  padding: 8px;
  border-bottom: 1px solid #444;
  background-color: #333;
  color: #696f7e;
  padding: 10px;
}
.grid-item-detailsImg span {
  cursor: default;
  padding-left: 1rem;
  padding-top: 1.2rem;
  float: left;
}
.grid-item-detailsImg a {
  cursor: pointer;
  padding-left: 1rem;
  padding-top: 1.2rem;
  color: #696f7e;
  float: left;
}
.grid-item-detailsImg a:hover {
  color: #fff;
}
.grid-item-details:last-child {
  border-bottom: initial;
}
.profile-pic-details {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  height: 250px;
  background: #f26657;
  border-radius: 100%;
}
.profile-pic-details img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 100%;
}
.sub-header-details {
  font-size: 14px;
  font-weight: 600;
  color: #696f7e;
  margin-bottom: 5px;
}
.profile-complteness {
  position: relative;
  max-width: 150px;
  height: 10px;
  margin: 8px auto;
  background: #ddd;
  border-radius: 8px;
}
.profile-complteness::after {
  content: "";
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #f26657;
}
.profile-hlp-txt {
  font-size: 14px;
  margin: 0;
}
.profile-hlp-txt span {
  color: f26657;
}
a .profile-hyper-links {
  font-size: 14px;
  margin: 3px;
}
a .profile-hyper-links:hover a{
  color: #fff !important;
}
.profile-hyper-links {
  font-size: 14px;
  margin: 3px;
}
.profile-hyper-links a {
  color: #f26657;
  text-decoration: none;
}
.profile-hyper-links a2 {
  color: #696f7e;
  text-decoration: none;
}
.profile-hyper-links:hover a{
  color: #fff !important;
}
.account-grid-item-2 .grid-item-details {
  padding: 14px 50px;
}
.account-grid-item-2 .grid-item-details:hover {
  cursor: default;
}
.accordian-details {
  padding: 12px 0;
  border-bottom: 1px solid #333;
}
.accordian-header {
  font-size: 13px;
  font-weight: 600;
  padding: 14px 50px;
  margin: 0;
  border-bottom: 1px dashed #333;
  color: #696f7e;
}
.accordian-header span {
  padding-left: 20px;
  color: #afb0b3;
}
.accordian-header:last-child {
  border-bottom: initial;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.774);
  transition: opacity 500ms;
  visibility: visible;
}
.backgroundImg {
  z-index: -1;
  background: linear-gradient(rgba(20, 17, 31, 0.8), rgba(20, 17, 31, 0.8));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: visible;
}
.background {
  z-index: -1;
  background: linear-gradient(rgba(20, 17, 31, 0.8), rgba(20, 17, 31, 0.8));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
.backgroundImg {
  z-index: -2;
  background: linear-gradient(rgba(20, 17, 31, 0.8), rgba(20, 17, 31, 0.8));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: visible;
}
.background2 {
  z-index: -2;
  background: linear-gradient(rgba(20, 17, 31, 0.8), rgba(20, 17, 31, 0.8));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
.overlayImg {
  left: 50%;
  margin-left: -123px;
  width: 246px;
  height: 246px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}
.backgroundImg2 {
  z-index: -1;
  background: linear-gradient(rgba(20, 17, 31, 0.8), rgba(20, 17, 31, 0.8));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: visible;
}
.background2 {
  z-index: -1;
  background: linear-gradient(rgba(20, 17, 31, 0.8), rgba(20, 17, 31, 0.8));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
.overlayImg i span {
  opacity: 0;
}
.overlayImgFriend {
  left: 50%;
  margin-left: -123px;
  width: 246px;
  height: 246px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.overlayImgFriend a span {
  font-size: xx-large;
  visibility: hidden;
}
.overlayImg a span:hover,
.overlayImg i span:hover,
.overlayImg:hover,
.overlayImgFriend:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: ease-in-out 200ms;
  color: #fff;
}
.overlayProfileImg {
  cursor: inherit;
  left: 50%;
  margin-left: -123px;
  width: 246px;
  height: 246px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
}
.overlayProfileImg input[type="file"] {
  cursor: pointer;
}
.popup {
  position: fixed;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  margin-top: 10%;
  width: 30%;
  max-width: 400px;
  position: relative;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.friendsCards {
  display: flex;
  overflow: hidden;
  width: 360px;
  height: 400px;
  padding-left: 25px;
  padding-top: 10px;
  float: left;
  text-align: center;
  color: #f5f5f5;
}
.friendGrid {
  flex-direction: column;
  border: 2px solid #444;
  width: 300px;
  position: relative;
}
.reviewDiv {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #444;
  border-bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: auto;
  float: left;
  margin-top: -10px;
}
.reviewText {
  margin-top: 80px;
  text-align: justify;
  padding: 15px;
  background-color: #444;
  border: 1px solid #f26657;
}
.reviewText_alt {
  margin-top: 10px;
  text-align: justify;
  padding: 15px;
  background-color: #444;
  border: 1px solid #f26657;
}
.reviewText_alt2 {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  float: left;
  text-align: justify;
  padding: 15px;
  background-color: #444;
  border: 1px solid #f26657;
}
.reviewUser {
  padding: 15px;
  border-bottom: 1px solid #444;
  background-color: #333;
  color: #f26657;
}
.reviewImg {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  border: 2px solid #f26657;
  float: left;
}
.reviewUser a {
  font-size: 24px;
  cursor: pointer;
  padding-left: 1.2rem;
  padding-top: 1.1rem;
  float: left;
  color: #fff;
}
.reviewUser a:hover {
  cursor: pointer;
  color: #f26657;
}
.userLibrary {
  padding: 15px;
  border-bottom: 1px solid #444;
  background-color: #333;
  color: #f26657;
}
.userLibrary a {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  border: 1px solid rgba(0, 0, 0, 0);
}
.userLibrary a:hover {
  background-color: #222;
  border: 1px solid #fff;
}
.reviewHeader {
  padding: 10px;
  border: 1px solid #444;
  border-bottom: 0;
  background-color: #333;
  color: #f26657;
}
.reviewHeader a {
  color: #fff;
}
.reviewHeader a:hover {
  color: #f26657;
}
.reviewHeader h5 {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
}
.reviewHeader h6 {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
}
.reviewHeader i {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
}
.reviewHeader span {
  cursor: default;
  margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 2000px) {
  .right3 {
    float: left;
    margin-top: 0;
    list-style-type: none;
    width: 100%;
  }
  .right8 {
    float: left;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-right: 60px;
    list-style-type: none; 
  }
  .gameInfo {
    margin-left: 27em;
    list-style-type: none;
    width: 100%;
  }
}
.reviewUser h6 {
  padding: -15px;
  font-size: 18px;
  font-weight: 700;
}
.reviewUser i {
  font-size: 18px;
  font-weight: 700;
}
.reviewUser a h5 {
  margin-left: -1.2rem;
}
.wrapper {
  display: block;
  align-items: center;
  max-width: 80em;
  height: 90%;
  margin: auto;
}
.wrapper li {
  display: inline-block;
  overflow: hidden;
  max-height: 190px;
}
.wrapper img {
  width: 190px;
  height: 20%;
}
.wrapper .overlay-container {
  display: block;
  position: relative;
}
.wrapper .overlay-container::before {
  content: attr(data-overlay-text);
  position: absolute;
  z-index: 1;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background: rgba(68, 68, 68, 0.7);
  opacity: 0;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .overlay-container:hover::before {
  opacity: 1;
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.wrapper .overlay-container .overlay-img {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .overlay-container:hover .overlay-img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  color: #fff;
}
th {
  background-color: #333;
}
.center {
  margin: 0 auto;
  margin: 1px solid #fff;
}
.b {
  color: #f26657;
  -webkit-text-stroke: 1px black;
}
.head {
  color: #000;
  background-color: #666;
}
.oauth {
  background-color: aqua;
  font-size:0;
  line-height:0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.oauth:hover {
  background-color: aqua;
  font-size:0;
  line-height:0;
  box-shadow: 0 0 6px #fff;
}
